[data-component='Map'] {
  position: absolute;
  width: 120%;
  height: 100%;
  left: -10%;
  
  .map-container {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  // Google Maps özel stilleri
  .gm-style-iw {
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    
    &-t {
      display: none;
    }
  }

  .gm-ui-hover-effect {
    display: none !important;
  }
}
